/* *{
    border: 1px dashed red
}
*/
body{
    background-color: rgb(182, 211, 182);
    height: 100vh;
     display: flex; 

}

.container {
  background-color: white;
   width: 300px;
   height: 400px;
   border-color: black;
   margin: auto;
   border-radius: 25px;
   position: relative;
   display: flex;
   font-size: 3rem;
   align-items: center;
   justify-content: center;
   box-shadow: rgb(19, 17, 15);
}

span {
    position: absolute;
    
}
span:first-of-type {
    top: 10px;
    left: 15px;
}
span + span { 
    bottom: 10px;
    right: 15px;
}

.Button {
  display: flex;
   margin: auto;
   font-size: 30px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   border-radius: 20px;
   box-shadow: 90px;
   
}
.Button:hover {
    background-color: rgb(8, 188, 56);
    color: aliceblue;
}

